<h1>How are trading volume and volatility related for energy stocks?</h1>

<h2>Goals</h2>
<p>By the end of this case, we will have introduced the <code>pandas</code> library within Python. You will also have gained experience with the <code>numpy</code> library, know how to read data files, and conduct descriptive statistics.</p>
<p>You should also begin to develop a proper mindset for investigating the library on your own, via documentation or other resources such as StackOverflow. Self-research of existing documentation is a crucial part of developing as a data professional.</p>

<h2>Introduction</h2>

<p><strong>Business Context.</strong> You are an analyst at a large bank focused on natural resource stock investments. Natural resources are vital for a variety of industries in our economy. Recently, your division has taken interest in the following stocks:</p>
<ol>
<li>Dominion Energy Inc.</li>
<li>Exelon Corp.</li>
<li>NextEra Energy Inc.</li>
<li>Southern Co.</li>
<li>Duke Energy Corp.</li>
</ol>
<p>These stocks are all part of the energy sector, an important but volatile sector of the stock market. While high volatility increases the chance of great gains, it also makes it more likely to have large losses, so risk must be carefully managed with high-volatility stocks.</p>
<p>Because your firm is quite large, there must be enough trading volume (average amount of shares transacted per day) so that it can easily transact in these stocks. Otherwise, this effect compounded with the stocks' naturally high volatility could make these too risky for the bank to invest in.</p>

<p><strong>Business Problem.</strong> Given that both low trading volume and high volatility present risks to your investments, your team lead asks you to investigate the following: <strong>"How is the volatility of energy stocks related to their average daily trading volume?"</strong></p>

<p><strong>Analytical Context.</strong> The data you've been given is in the <a href="https://frictionlessdata.io/docs//">Comma Separated Value (CSV) format</a>, and comprises price and trading volume data for the above stocks. This case begins with a brief overview of this data, after which you will: (1) learn how to use the Python library <a href="https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673">pandas</a> to load the data; (2) use <code>pandas</code> transform this data into a form amenable for analysis; and finally (3) use <code>pandas</code> to analyze the above question and come to a conclusion. As you may have guessed, <code>pandas</code> is an enormously useful library for data analysis and manipulation.</p>

<h2>Importing packages to aid in data analysis</h2>
<p><a href="https://www.learnpython.org/en/Modules_and_Packages">External libraries (a.k.a. packages)</a> are code bases that contain a variety of pre-written functions and tools. This allows you to perform a variety of complex tasks in Python without having to "reinvent the wheel" build everything from the ground up. We will use two core packages: <code>pandas</code> and <code>numpy</code>.</p>
<p><code>pandas</code> is an external library that provides functionality for data analysis. Pandas specifically offers a variety of data structures and data manipulation methods that allow you to perform complex tasks with simple, one-line commands.</p>
<p><code>numpy</code> is a package that we will use later in the case that offers numerous mathematical operations. Together, <a href="https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.0.html">pandas</a> and <a href="https://numpy.org/">numpy</a> allow you to create a data science workflow within Python. <code>numpy</code> is in many ways foundational to <code>pandas</code>, providing vectorized operations, while <code>pandas</code> provides higher level abstractions built on top of <code>numpy</code>.</font></p>
<p>Let's import both packages using the <code>import</code> keyword. We will rename <code>pandas</code> to <code>pd</code> and <code>numpy</code> to <code>np</code> using the <code>as</code> keyword. This allows us to use the short name abbreviation when we want to reference any function that is inside either package. The abbreviations we chose are standard across the data science industry and should be followed unless there is a very good reason not to.</p>

In [1]:
# Import the Pandas package
import pandas as pd

# Import the NumPy package
import numpy as np

<p>Now that these packages are loaded into Python, we can use their contents. Let's first take a look at <code>pandas</code> as it has a variety of features we will use to load and analyze our stock data.</p>

<h2>Fundamentals of <code>pandas</code></h2>

<p><code>pandas</code> is a Python library that facilitates a wide range of data analysis and manipulation. Before, you saw basic data structures in Python such as lists and dictionaries. While you can build a basic data table (similar to an Excel spreadsheet) using nested lists in Python, they get quite difficult to work with. By contrast, in <code>pandas</code> the table data structure, known as a <code>DataFrame</code>, is a first-class citizen and you can easily manipulate your data thinking of it in rows and columns.</p>
<p>If you've ever used or heard of R or SQL before, <code>pandas</code> brings some functionality from each of these to Python, allowing you to structure and filter data more efficiently than pure Python. This efficiency is seen in two distinct ways:</p>
<ul>
<li>Scripts written using <code>pandas</code> will often run faster than scripts written in pure Python</li>
<li>Scripts written using <code>pandas</code> will often contain far fewer lines of code than the equivalent script written in pure Python.</li>
</ul>
<p>At the core of the <code>pandas</code> library are two fundamental data structures/objects:
1. <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html">Series</a>
2. <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html">DataFrame</a></p>
<p>A <code>Series</code> object stores single-column data along with an <strong>index</strong>. An index is just a way of "numbering" the <code>Series</code> object. For example, in this case study, the indices will be dates, while the single-column data may be stock prices or daily trading volume.</p>
<p>A <code>DataFrame</code> object is a two-dimensional tabular data structure with labeled axes. It is conceptually helpful to think of a DataFrame object as a collection of Series objects. Namely, think of each column in a DataFrame as a single Series object, where each of these Series objects shares a common index -  the index of the DataFrame object.</p>
<p>Below is the syntax for creating a Series object, followed by the syntax for creating a DataFrame object. Note that DataFrame objects can also have a single-column â€“ think of this as a DataFrame consisting of a single Series object:</p>

In [2]:
# Create a simple Series object
simple_series = pd.Series(
    index=[0, 1, 2, 3], name="Volume", data=[1000, 2600, 1524, 98000]
)
simple_series

0     1000
1     2600
2     1524
3    98000
Name: Volume, dtype: int64

<p>By changing <code>pd.Series</code> to <code>pd.DataFrame</code>, and adding a columns input list, a DataFrame object can be created:</p>

In [3]:
# Create a simple DataFrame object
simple_df = pd.DataFrame(
    index=[0, 1, 2, 3], columns=["Volume"], data=[1000, 2600, 1524, 98000]
)
simple_df

   Volume
0    1000
1    2600
2    1524
3   98000

<p>DataFrame objects are more general than Series objects, and one DataFrame can hold many Series objects, each as a different column. Let's create a two-column DataFrame object:</p>

In [4]:
# Create another DataFrame object
another_df = pd.DataFrame(
    index=[0, 1, 2, 3],
    columns=["Date", "Volume"],
    data=[[20190101, 1000], [20190102, 2600], [20190103, 1524], [20190104, 98000]],
)
another_df

       Date  Volume
0  20190101    1000
1  20190102    2600
2  20190103    1524
3  20190104   98000

<p>Notice how a list of lists was used to specify the data in the <code>another_df</code> DataFrame. Each element of the list corresponds to a row in the DataFrame, so the list has 4 elements because there are 4 indices. Each element of the list of lists has 2 elements because the DataFrame has two columns.</p>

<h2>Using <code>pandas</code> to analyze stock data</h2>

<p>Recall that we have CSV files that include data for each of the following stocks:</p>
<ol>
<li>Dominion Energy Inc. (Stock Symbol: D)</li>
<li>Exelon Corp. (Stock Symbol: EXC)</li>
<li>NextEra Energy Inc. (Stock Symbol: NEE)</li>
<li>Southern Co. (Stock Symbol: SO)</li>
<li>Duke Energy Corp. (Stock Symbol: DUK)</li>
</ol>
<p>The available data for each stock includes:</p>
<ol>
<li><strong>Date:</strong> The day of the year</li>
<li><strong>Open:</strong> The stock opening price of the day</li>
<li><strong>High:</strong> The highest observed stock price of the day</li>
<li><strong>Low:</strong> The lowest observed stock price of the day</li>
<li><strong>Close:</strong> The stock closing price of the day</li>
<li><strong>Adj Close:</strong> The adjusted stock closing price for the day (adjusted for splits and dividends)</li>
<li><strong>Volume:</strong> The volume of the stock traded over the day</li>
</ol>
<p>To get a better sense of the available data, let's first take a look at just the data for Dominion Energy, listed on the New York Stock Exchange under the symbol D. You are given a CSV file that contains the company's stock data, <code>D.</code>. <code>pandas</code> allows easy loading of CSV files through the use of the method <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html">pd.read_csv()</a>:</p>

In [ ]:
# Only for Google Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Load a file as a DataFrame and assign to df
df = pd.read_csv("drive/MyDrive/Colab Notebooks/case_1.2_var2_student/data/D.csv")

In [5]:
# Load a file as a DataFrame and assign to df
df = pd.read_csv("../datasets/D.csv")

<p>The contents of the file <code>D.</code> are now stored in the DataFrame object <code>df</code>.</p>
<p>There are several common methods and attributes available to take a peek at the data and get a sense of it:</p>
<ol>
<li><code>DataFrame.head()</code>  -&gt; returns the column names and first 5 rows by default</li>
<li><code>DataFrame.tail()</code>  -&gt; returns the column names and last 5 rows by default</li>
<li><code>DataFrame.shape</code>   -&gt; returns (num_rows, num_columns)</li>
<li><code>DataFrame.columns</code> -&gt; returns index of columns</li>
<li><code>DataFrame.index</code>   -&gt; returns index of rows</li>
</ol>
<p>In your spare time please check the <a href="https://pandas.pydata.org/pandas-docs/stable/">pandas documentation</a> and explore the parameters of these methods as well as other methods. Familiarity with this library will dramatically improve your productivity as a data scientist.</p>
<p>Using <code>df.head()</code> and <code>df.tail()</code> we can take a look at the data contents. Unless specified otherwise, Series and DataFrame objects have indices starting at 0 and increase monotonically upward along the integers.</p>

In [16]:
# Look at the head of the DataFrame (i.e. the top rows of the DataFrame)
df.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-07-28  69.750000  71.059998  69.750000  70.879997  57.963978  1806400
1  2014-07-29  70.669998  70.980003  69.930000  69.930000  57.187099  2231100
2  2014-07-30  70.000000  70.660004  68.400002  68.970001  56.402020  2588900
3  2014-07-31  68.629997  68.849998  67.580002  67.639999  55.314388  3266900
4  2014-08-01  67.330002  68.410004  67.220001  67.589996  55.273487  2601800

In [17]:
# Look at the tail of the DataFrame (i.e. the top rows of the DataFrame)
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1254,2019-07-22,76.879997,76.930000,75.779999,76.260002,76.260002,2956500
1255,2019-07-23,76.099998,76.199997,75.269997,75.430000,75.430000,3175600
1256,2019-07-24,75.660004,75.720001,74.889999,75.180000,75.180000,3101900
1257,2019-07-25,75.150002,75.430000,74.610001,74.860001,74.860001,3417200
1258,2019-07-26,74.730003,75.349998,74.610001,75.150002,75.150002,3076500

<p>Thus, we see there are 1259 data entries (each with 7 data points) for Dominion Energy. The shape of a DataFrame is accessed using the <code>shape</code> attribute:</p>

In [18]:
# Determine the shape of the two-dimensional structure, that is (num_rows, num_columns)
df.shape

(1259, 7)

<p>It's important to note that <code>DataFrame.columns</code> and <code>DataFrame.index</code> return an index object instead of a list. To cast an index to a list for further list manipulation, we use the <code>list()</code> method:</p>

In [19]:
# List of the column names of the DataFrame
list(df.columns)

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

In [20]:
# List of the column names of the DataFrame
list(df.index)[0:20]  # only showing first 20 index values so reduce screen output

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

<h2>Creating additional variables relevant to stock volatility</h2>

<p>Oftentimes, the data provided to you will not be sufficient to achieve your goal. You may have to add additional variables or data features to assist you. Recall that our original question concerned the relationship between stock trading volume and volatility. Therefore, our DataFrame must have features related to both of these quantities.</p>
<p>It can be helpful to think about adding columns to DataFrames as adding adjacent columns one-by-one in Excel. Here is an example of how to do it:</p>

In [6]:
# Add a new column named "Symbol"
df["Symbol"] = "D"
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D

In [7]:
# We can access a column by using [] brackets and the column name
df['Volume'].head() # added .head() to suppress output

0    1806400
1    2231100
2    2588900
3    3266900
4    2601800
Name: Volume, dtype: int64

In [8]:
# Add a new column named "Volume_Millions", which is calculated from the Volume column currently in df
# divide every row in df['Volume'] by 1 million, store in new column
df["Volume_Millions"] = df["Volume"] / 1000000.0
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volume_Millions
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D,1.8064
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D,2.2311
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D,2.5889
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D,3.2669
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D,2.6018

In [9]:
# Take a look at the updated DataFrame shape. Two new columns have been added.
df.shape

(1259, 9)

<p>As discussed, we need to have a feature in our DataFrame that is related to volatility. Because this currently does not exist, we must create it from the already available features. Recall that volatility is the standard deviation of daily returns over a period of time, so let's create a feature for daily returns:</p>

In [10]:
df["VolStat"] = (df["High"] - df["Low"]) / df["Open"]
df["Return"] = (df["Close"] / df["Open"]) - 1.0

<p>Here we see the power of <code>pandas</code>. We can simply perform mathematical operations on columns of DataFrames just as if the DataFrames were single variables themselves.</p>

In [11]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol,Volume_Millions,VolStat,Return
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D,1.8064,0.018781,0.016201
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D,2.2311,0.014858,-0.010471
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D,2.5889,0.032286,-0.014714
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D,3.2669,0.018505,-0.014425
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D,2.6018,0.017674,0.003861

<p>Now we have features relevant to the original question, and can proceed to the analysis step. A common first step in data analysis is to learn about the distribution of the available data. We will do this next.</p>

<h2>Learning about the data distribution through summary statistics</h2>

<p>Let's aggregate summary statistics for the five energy sector companies under study. Fortunately, the DataFrame and Series objects offer a myriad of data summary statistics methods:</p>
<ol>
<li><code>min()</code></li>
<li><code>median()</code></li>
<li><code>mean()</code></li>
<li><code>max()</code></li>
<li><code>quantile()</code></li>
</ol>
<p>Below, each method is used on the <code>Volume_Millions</code> column. Notice how simple the functions are to apply to the DataFrame. Simply type the name of the DataFrame, followed by a <code>.</code> and then the method name you'd like to calculate. We've chosen to select a single column <code>Volume_Millions</code> from the DataFrame <code>df</code>, but you could have just as easily called these methods on the full DataFrame rather than a single column:</p>

In [12]:
# Calculate the minimum of the Volume_Millions column
df["Volume_Millions"].min()

0.7384

In [13]:
# Calculate the median of the Volume_Millions column
df["Volume_Millions"].median()

2.6957

In [14]:
# Calculate the average of the Volume_Millions column
df["Volume_Millions"].mean()

3.0881293089753776

In [15]:
# Calculate the maximum of the Volume_Millions column
df["Volume_Millions"].max()

14.5874

<p>We'd also like to explore the data distribution at a more granular level to see how the distribution looks beyond the simple summary statistics presented above. For this, we can use the <code>quantile()</code> method. The <code>quantile()</code> method will return the value which represents the given percentile of all the data under study (in this case, of the <code>Volume_Millions</code> data):</p>

In [16]:
# Calculate the 25th percentile
df['Volume_Millions'].quantile(0.25)

2.0888

In [17]:
# Calculate the 75th percentile
df['Volume_Millions'].quantile(0.75)

3.61285

<p>Is there a more efficient method to quickly compute all of these summary statistics? Yes. One incredibly useful method that combines these summary statistics and also adds a couple others is the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html">describe()</a> method:</p>

In [18]:
df['Volume_Millions'].describe()

count    1259.000000
mean        3.088129
std         1.548809
min         0.738400
25%         2.088800
50%         2.695700
75%         3.612850
max        14.587400
Name: Volume_Millions, dtype: float64

<p>From this distribution analysis of the daily trading volume, we can see that more than 14 million shares would be a very large trading day, whereas below 2 million shares would be a relatively small trading day.</p>

<p>In addition to describe, there is a <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html">value_counts() method</a> for checking the frequency of elements in categorical data. Please be aware that <code>value_counts()</code> is a method of the Series class and NOT the DataFrame class. This means you have to isolate a specific column of a DataFrame before calling <code>value_counts()</code>:</p>

In [19]:
dict_data = {
    "numbers": [3, 2, 3, 4, 5, 6, 7, 8],
    "color": ["red", "red", "red", "blue", "blue", "green", "blue", "green"],
}
category_df = pd.DataFrame(data=dict_data)

category_df

   numbers  color
0        3    red
1        2    red
2        3    red
3        4   blue
4        5   blue
5        6  green
6        7   blue
7        8  green

In [20]:
#why doesn't this work? (uncomment the expression that follows)
category_df.value_counts()

numbers  color
3        red      2
2        red      1
4        blue     1
5        blue     1
6        green    1
7        blue     1
8        green    1
Name: count, dtype: int64

In [21]:
# only Series objects can call this method (uncomment the following expression)
category_df['color'].value_counts()

color
red      3
blue     3
green    2
Name: count, dtype: int64

<h3>Exercise 1:</h3>
<p>Determine the 25th, 50th, and 75th percentile for the <code>Open</code>, <code>High</code>, <code>Low</code>, and <code>Close</code> columns of <code>df</code>.</p>

**Answer.**

In [22]:
df[["Open", "High", "Low", "Close"]].describe()

              Open         High          Low        Close
count  1259.000000  1259.000000  1259.000000  1259.000000
mean     73.253765    73.780842    72.697911    73.274940
std       4.187696     4.162946     4.177581     4.182135
min      61.790001    62.840000    61.529999    61.750000
25%      70.220001    70.829998    69.685001    70.239998
50%      73.180000    73.690002    72.550003    73.150002
75%      76.560001    76.954998    75.959999    76.510002
max      85.110001    85.300003    83.900002    84.910004

In [23]:
stats = df[["Open","High","Low","Close"]].describe()
percentiles = stats.loc[["25%","50%","75%"], ["Open","High","Low","Close"]]
percentiles

          Open       High        Low      Close
25%  70.220001  70.829998  69.685001  70.239998
50%  73.180000  73.690002  72.550003  73.150002
75%  76.560001  76.954998  75.959999  76.510002

In [24]:
stats2 = df.describe(percentiles=[.25, .5, .75])
percentiles2 = stats2.loc[["25%","50%","75%"], ["Open","High","Low","Close"]]
percentiles2

          Open       High        Low      Close
25%  70.220001  70.829998  69.685001  70.239998
50%  73.180000  73.690002  72.550003  73.150002
75%  76.560001  76.954998  75.959999  76.510002

A simple analytics:

- **25 % (first quartile):** 25% of the days, the open trading price was below 70.22; higher price below 70.83, low price below 69.69 and close price below 70.24.
- **50 % (median):** The half of the dataset days, open price was equal or below 73.18; max day value was equal or below 73.69; minimun day value was equal or b

-------

<h2>Aggregating data from multiple companies</h2>

<p>So far, we've only been looking at data from one of our five companies. Let's go ahead and combine all five CSV files to analyze the five companies together. This will also reduce the amount of programming work required since the code will be shared across the five companies.</p>
<p>One way to accomplish this aggregation task is to use the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html">pd.concat()</a> method from <code>pandas</code>. An input into this method may be a list of DataFrames that you'd like to concatenate. We will use a <code>for</code> loop to loop over each stock symbol, load the corresponding CSV file, and then append the result to a list which is later aggregated using <code>pd.concat()</code>. Let's take a look at how this is done.</p>

In [ ]:
# For google Colab and drive connection

# Load five  files into one dataframe
print("Defining stock symbols")
symbol_data_to_load = ["D", "EXC", "NEE", "SO", "DUK"]
list_of_df = []

# Loop over all symbols
print(" --- Start loop over symbols --- ")
for symbol in symbol_data_to_load:
    print("Processing Symbol: " + symbol)
    temp_df = pd.read_csv("drive/MyDrive/Colab Notebooks/case_1.2_var2_student/data/" + symbol + ".csv")
    temp_df["Volume_Millions"] = temp_df["Volume"] / 1000000.0

    # Add new column with symbol name to distinguish in final dataframe
    temp_df["Symbol"] = symbol
    list_of_df.append(temp_df)

# used a line break at the end of this string for aesthetics
print(" --- Complete loop over symbols --- \n")

# Combine into a single DataFrame by using concat
print("Aggregating Data")
agg_df = pd.concat(list_of_df, axis=0)

# Add salient statistics for this return and volatility analysis
print("Calculating Salient Features")
agg_df["VolStat"] = (agg_df["High"] - agg_df["Low"]) / agg_df["Open"]
agg_df["Return"] = (agg_df["Close"] / agg_df["Open"]) - 1.0

print("agg_df DataFrame shape (rows, columns): ")
print(agg_df.shape)

print("Head of agg_df DataFrame: ")
agg_df.head()

Defining stock symbols
 --- Start loop over symbols ---
Processing Symbol: D
Processing Symbol: EXC
Processing Symbol: NEE
Processing Symbol: SO
Processing Symbol: DUK
 --- Complete loop over symbols ---

Aggregating Data
Calculating Salient Features
agg_df DataFrame shape (rows, columns):
(6295, 11)
Head of agg_df DataFrame:

,Date,Open,High,Low,Close,Adj Close,Volume,Volume_Millions,Symbol,VolStat,Return
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,1.8064,D,0.018781,0.016201
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,2.2311,D,0.014858,-0.010471
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,2.5889,D,0.032286,-0.014714
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,3.2669,D,0.018505,-0.014425
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,2.6018,D,0.017674,0.003861

In [25]:
# Load five  files into one dataframe
print("Defining stock symbols")
symbol_data_to_load = ["D", "EXC", "NEE", "SO", "DUK"]
list_of_df = []

# Loop over all symbols
print(" --- Start loop over symbols --- ")
for symbol in symbol_data_to_load:
    print("Processing Symbol: " + symbol)
    # point to! -> datasets folder
    temp_df = pd.read_csv("../datasets/" + symbol + ".csv")
    temp_df["Volume_Millions"] = temp_df["Volume"] / 1000000.0

    # Add new column with symbol name to distinguish in final dataframe
    temp_df["Symbol"] = symbol
    list_of_df.append(temp_df)

# used a line break at the end of this string for aesthetics
print(" --- Complete loop over symbols --- \n")

# Combine into a single DataFrame by using concat
print("Aggregating Data")
agg_df = pd.concat(list_of_df, axis=0)

# Add salient statistics for this return and volatility analysis
print("Calculating Salient Features")
agg_df["VolStat"] = (agg_df["High"] - agg_df["Low"]) / agg_df["Open"]
agg_df["Return"] = (agg_df["Close"] / agg_df["Open"]) - 1.0

print("agg_df DataFrame shape (rows, columns): ")
print(agg_df.shape)

print("Head of agg_df DataFrame: ")
agg_df.head()

Defining stock symbols
 --- Start loop over symbols ---
Processing Symbol: D
Processing Symbol: EXC
Processing Symbol: NEE
Processing Symbol: SO
Processing Symbol: DUK
 --- Complete loop over symbols ---

Aggregating Data
Calculating Salient Features
agg_df DataFrame shape (rows, columns):
(6295, 11)
Head of agg_df DataFrame:

,Date,Open,High,Low,Close,Adj Close,Volume,Volume_Millions,Symbol,VolStat,Return
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,1.8064,D,0.018781,0.016201
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,2.2311,D,0.014858,-0.010471
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,2.5889,D,0.032286,-0.014714
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,3.2669,D,0.018505,-0.014425
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,2.6018,D,0.017674,0.003861

<p>After the <code>for</code> loop, we've aggregated and added the relevant features we identified in the previous section. We then printed the head of the aggregated DataFrame to have a peek at the format of the data, and we've also printed the shape of the DataFrame. This is to sanity check that our final DataFrame is roughly what we expect. Notice the aggregated DataFrame has the same number of columns as the original single stock (D) data, however the number of rows have increased five-fold. This makes sense, because each additional symbol contains 1259 data entries, so five symbols leads to a total of <code>1259*5 = 6295</code> rows. So, this passes our sanity check.</p>

<p>Now, if we want to reverse this process and extract the data relevant to a single stock symbol from the aggregated DataFrame <code>agg_df</code>, we can do so using the <code>==</code> operator, which returns True when two objects contain the same value, and False otherwise:</p>

In [26]:
symbol_DUK_df = agg_df[agg_df["Symbol"] == "DUK"]
symbol_DUK_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Volume_Millions,Symbol,VolStat,Return
0,2014-07-28,73.309998,74.480003,73.230003,74.389999,59.266285,3281100,3.2811,DUK,0.017051,0.014732
1,2014-07-29,74.400002,74.480003,73.760002,73.980003,58.939648,2236300,2.2363,DUK,0.009677,-0.005645
2,2014-07-30,74.029999,74.199997,72.580002,73.050003,58.198696,2782200,2.7822,DUK,0.021883,-0.013238
3,2014-07-31,72.610001,73.099998,72.059998,72.129997,57.465740,3249000,3.2490,DUK,0.014323,-0.006611
4,2014-08-01,72.239998,73.370003,72.150002,72.940002,58.111061,3960200,3.9602,DUK,0.016888,0.009690

<p>Looking at the code block above, we've filtered out the rows that correspond to each symbol. Namely,</p>
<p><code>python
agg_df['Symbol'] == 'DUK'</code>
returns a boolean series of the same number of rows of <code>agg_df</code>, where each value is True or False depending on whether a specific row's <code>Symbol</code> value is equal to <code>'DUK'</code>.</p>
<p>This row extraction technique will be useful to us later in this case when we perform analyses on each individual stock symbol.</p>

<h3>Exercise 2:</h3>
<p>If we added the number of rows together from the five DataFrames, <code>D_df</code>,<code>NEE_df</code>,<code>EXC_df</code>,<code>SO_df</code>, and <code>DUK_df</code>, we'd arrive at the same number of rows as <code>agg_df</code>: 6295 rows. If we instead used the <code>!=</code> operator in the five lines where we filter out each symbol, how many rows would we have if we sum all the rows in the five new DataFrames?</p>
<p>(a) 31475</p>
<p>(b) 12590</p>
<p>(c) 25180</p>
<p>(d) 6295</p>

**Answer.**

In [30]:
# We'll user agg_df dataframe
symbols = ['D', 'NEE', 'EXC', 'SO', 'DUK']

# 3. Using "!="we'll count how many rows are for each symbol
counts = {
    s: agg_df[agg_df['Symbol'] != s].shape[0]
    for s in symbols
}

# sum all values
total = sum(counts.values())

# 5. show results
print("Filas por sÃ­mbolo (usando !=):")
for s, c in counts.items():
    print(f"  excluyendo {s}: {c} filas")
print(f"\nTotal filas (suma de los 5 DataFrames): {total}")

Filas por sÃ­mbolo (usando !=):
  excluyendo D: 5036 filas
  excluyendo NEE: 5036 filas
  excluyendo EXC: 5036 filas
  excluyendo SO: 5036 filas
  excluyendo DUK: 5036 filas

Total filas (suma de los 5 DataFrames): 25180

-------

<h3>Exercise 3:</h3>
<p>Write code to write a <code>for</code> loop to loop through each of the five symbols, extract only the rows corresponding to each symbol, and calculate and print the average <code>VolStat</code> value for each of the five symbols.</p>

**Answer.**

In [34]:
for i in ['D', 'NEE', 'EXC', 'SO', 'DUK']:
    print(f"Average VolStat for {i} Symbol: ", agg_df[agg_df['Symbol'] == i]['VolStat'].mean())

Average VolStat for D Symbol:  0.014835992194363283
Average VolStat for NEE Symbol:  0.014881084105602231
Average VolStat for EXC Symbol:  0.01772171389355644
Average VolStat for SO Symbol:  0.014064780560964827
Average VolStat for DUK Symbol:  0.014534013252371452

-------

<h2>Analyzing each stock's volatility levels</h2>

<p><code>pandas</code> offers the ability to group related rows of DataFrames according to the values of other rows. This useful feature is accomplished using the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html">groupby()</a> method.  Let's take a look and see how this can be used to group rows so that each group corresponds to a single stock symbol:</p>

In [35]:
# Use the groupby() method, notice a DataFrameGroupBy object is returned
agg_df.groupby('Symbol')

<p>Here, the <code>DataFrameGroupBy</code> object can be most readily thought of as containing a DataFrame object for every group (in this case, a DataFrame object for each symbol). Specifically, each item of the object is a tuple, containing the group identifier (in this case the Symbol), and the corresponding rows of the DataFrame that have that Symbol).</p>
<p>Fortunately, <code>pandas</code> allows you to iterate over the <code>groupby()</code> object to see what's inside:</p>

In [36]:
grp_obj = agg_df.groupby("Symbol")  # Group data in agg_df by Symbol

# Loop through groups
for item in grp_obj:
    print(" ------ Loop Begins ------ ")
    print(type(item))  # Showing type of the item in grp_obj
    print(item[0])  # Symbol
    print(item[1].head())  # DataFrame with data for the Symbol
    print(" ------ Loop Ends ------ ")

 ------ Loop Begins ------
<class 'tuple'>
D
         Date       Open       High        Low      Close  Adj Close   Volume  \
0  2014-07-28  69.750000  71.059998  69.750000  70.879997  57.963978  1806400
1  2014-07-29  70.669998  70.980003  69.930000  69.930000  57.187099  2231100
2  2014-07-30  70.000000  70.660004  68.400002  68.970001  56.402020  2588900
3  2014-07-31  68.629997  68.849998  67.580002  67.639999  55.314388  3266900
4  2014-08-01  67.330002  68.410004  67.220001  67.589996  55.273487  2601800

   Volume_Millions Symbol   VolStat    Return
0           1.8064      D  0.018781  0.016201
1           2.2311      D  0.014858 -0.010471
2           2.5889      D  0.032286 -0.014714
3           3.2669      D  0.018505 -0.014425
4           2.6018      D  0.017674  0.003861
 ------ Loop Ends ------
 ------ Loop Begins ------
<class 'tuple'>
DUK
         Date       Open       High        Low      Close  Adj Close   Volume  \
0  2014-07-28  73.309998  74.480003  73.230003  74.389999  59.266285  3281100
1  2014-07-29  74.400002  74.480003  73.760002  73.980003  58.939648  2236300
2  2014-07-30  74.029999  74.199997  72.580002  73.050003  58.198696  2782200
3  2014-07-31  72.610001  73.099998  72.059998  72.129997  57.465740  3249000
4  2014-08-01  72.239998  73.370003  72.150002  72.940002  58.111061  3960200

   Volume_Millions Symbol   VolStat    Return
0           3.2811    DUK  0.017051  0.014732
1           2.2363    DUK  0.009677 -0.005645
2           2.7822    DUK  0.021883 -0.013238
3           3.2490    DUK  0.014323 -0.006611
4           3.9602    DUK  0.016888  0.009690
 ------ Loop Ends ------
 ------ Loop Begins ------
<class 'tuple'>
EXC
         Date       Open       High        Low      Close  Adj Close   Volume  \
0  2014-07-28  31.410000  32.130001  31.379999  31.950001  26.442406  5683400
1  2014-07-29  31.940001  32.049999  31.430000  31.469999  26.045147  6292800
2  2014-07-30  31.629999  31.660000  30.850000  31.010000  25.664442  7976600
3  2014-07-31  30.930000  31.490000  30.799999  31.080000  25.722378  9236100
4  2014-08-01  31.139999  32.080002  31.100000  31.540001  26.103081  9734300

   Volume_Millions Symbol   VolStat    Return
0           5.6834    EXC  0.023878  0.017192
1           6.2928    EXC  0.019411 -0.014715
2           7.9766    EXC  0.025609 -0.019602
3           9.2361    EXC  0.022308  0.004850
4           9.7343    EXC  0.031471  0.012845
 ------ Loop Ends ------
 ------ Loop Begins ------
<class 'tuple'>
NEE
         Date       Open       High        Low      Close  Adj Close   Volume  \
0  2014-07-28  98.470001  99.760002  98.099998  99.580002  85.106087  1643000
1  2014-07-29  99.029999  99.389999  97.300003  98.400002  84.097595  1942500
2  2014-07-30  98.160004  98.500000  95.760002  96.339996  82.337006  2844100
3  2014-07-31  95.639999  95.980003  93.800003  93.889999  80.243126  2725200
4  2014-08-01  93.500000  94.919998  93.279999  93.820000  80.183289  2514400

   Volume_Millions Symbol   VolStat    Return
0           1.6430    NEE  0.016858  0.011272
1           1.9425    NEE  0.021105 -0.006362
2           2.8441    NEE  0.027914 -0.018541
3           2.7252    NEE  0.022794 -0.018298
4           2.5144    NEE  0.017540  0.003422
 ------ Loop Ends ------
 ------ Loop Begins ------
<class 'tuple'>
SO
         Date       Open       High        Low      Close  Adj Close   Volume  \
0  2014-07-28  44.619999  45.430000  44.619999  45.360001  35.349178  5568900
1  2014-07-29  45.470001  45.470001  44.669998  44.860001  34.959522  5499600
2  2014-07-30  45.000000  45.000000  44.009998  44.380001  34.585461  6945200
3  2014-07-31  43.889999  43.889999  43.220001  43.290001  34.139881  5675300
4  2014-08-01  43.340000  43.830002  43.250000  43.320000  34.163548  4193700

   Volume_Millions Symbol   VolStat    Return
0           5.5689     SO  0.018153  0.016585
1           5.4996     SO  0.017594 -0.013415
2           6.9452     SO  0.022000 -0.013778
3           5.6753     SO  0.015265 -0.013670
4           4.1937     SO  0.013383 -0.000461
 ------ Loop Ends ------

<p>Let's combine the <code>pd.groupby()</code> method with the <code>describe()</code> method and apply it to each symbol to analyze the distribution of volatility related features for each symbol.</p>

In [37]:
grp_obj = agg_df.groupby("Symbol")  # Group data in agg_df by Symbol

# Loop through groups
for item in grp_obj:
    print("------Symbol: ", item[0])
    grp_df = item[1]
    relevant_df = grp_df[["VolStat"]]
    print(relevant_df.describe())

------Symbol:  D
           VolStat
count  1259.000000
mean      0.014836
std       0.006548
min       0.003640
25%       0.010246
50%       0.013528
75%       0.017920
max       0.062350
------Symbol:  DUK
           VolStat
count  1259.000000
mean      0.014534
std       0.007047
min       0.003548
25%       0.010075
50%       0.012922
75%       0.017653
max       0.117492
------Symbol:  EXC
           VolStat
count  1259.000000
mean      0.017722
std       0.008129
min       0.005230
25%       0.011868
50%       0.015931
75%       0.021752
max       0.093156
------Symbol:  NEE
           VolStat
count  1259.000000
mean      0.014881
std       0.006544
min       0.004454
25%       0.010309
50%       0.013439
75%       0.017700
max       0.048495
------Symbol:  SO
           VolStat
count  1259.000000
mean      0.014065
std       0.006109
min       0.003960
25%       0.009786
50%       0.012858
75%       0.016865
max       0.051847

<p>One immediate observation of note is that the volatility level on any given day can vary widely. This is evident from the wide spread between the minimum and maximum <code>VolStat</code> levels seen using the <code>describe()</code> method. For example, stock symbol D has a minimum <code>VolStat</code> value of 0.003640, while its maximum <code>VolStat</code> value is 0.062350. That's more than a 10x increase in the value of <code>VolStat</code>!</p>
<p>While this is great to see, there is a more powerful way to display this data in <code>pandas</code>. We can call the <code>describe()</code> method directly on the <code>DataFrameGroupBy</code> object. This one line allows you to avoid having to write a <code>for</code> loop every time you'd like to summarize data:</p>

In [38]:
# VolStat
agg_df[["Symbol", "VolStat"]].groupby("Symbol").describe()

       VolStat                                                              \
         count      mean       std       min       25%       50%       75%
Symbol
D       1259.0  0.014836  0.006548  0.003640  0.010246  0.013528  0.017920
DUK     1259.0  0.014534  0.007047  0.003548  0.010075  0.012922  0.017653
EXC     1259.0  0.017722  0.008129  0.005230  0.011868  0.015931  0.021752
NEE     1259.0  0.014881  0.006544  0.004454  0.010309  0.013439  0.017700
SO      1259.0  0.014065  0.006109  0.003960  0.009786  0.012858  0.016865


             max
Symbol
D       0.062350
DUK     0.117492
EXC     0.093156
NEE     0.048495
SO      0.051847

<p>This data is identical to the data previously outputted using the <code>for</code> loop approach. The difference is that utilizing the features of the <code>DataFrameGroupBy</code> object allows for easy coding, fast results, and a clean output. This illustrates the power of using the <code>pd.groupby()</code> method: generating statistics for groups of interest in your data is straightforward and efficient to code.</p>
<p>You'll notice this pattern a lot as you gain more familiarity with Python and data analysis. There are many ways to solve a problem, but often one way is substantially more efficient, both in terms of run time and in terms of lines of code.</p>

<h3>Exercise 4:</h3>
<p>What are some insights you can draw from the <code>VolStat</code> summary statistics in terms of volatility levels?</p>

**Answer.**

-------

<h3>Exercise 5:</h3>
<p>Using <code>agg_df</code> and a <code>for</code> loop, write a script to determine the mean value of <code>VolStat</code> for each symbol by year.</p>

**Answer.**

-------

<h2>Labelling data points as high or low volatility</h2>

<p>Now that we've determined that the volatility levels of each stock can vary widely, the next logical step is to group periods of high and low volatility so that we can then look at how volume differs between those time periods.</p>
<p>However, we don't currently have a column that identifies when volatility is high and when it is low. Therefore, we must create a new column called <code>VolLevel</code> using some volatility threshold. For example, we'd like to have a new column value determined by:</p>
<p><code>if VolStat &gt; threshold:
    VolLevel = 'HIGH'
else:
    VolLevel = 'LOW'</code></p>
<p>Here we will define low volatility levels by any <code>VolStat</code> below the 50th percentile (i.e. below the median level of volatility for that symbol). Each percentile value must be calculated by symbol to ensure that each symbol is individually analyzed.</p>
<p>Let's take a look how we can accomplish this task using <code>groupby()</code> functionality and the <code>quantile()</code> method, which returns the percentile for a given series of data:</p>

In [ ]:
# Determine lower thresholds for volatility for each symbol
volstat_thresholds = agg_df.groupby("Symbol")["VolStat"].quantile(0.5)  # 50th percentile (median)
print(volstat_thresholds)

<p>Since we'd like to label periods of high and low volatility by symbol, we will make use of the <a href="https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html">np.where()</a> method in the <code>numpy</code> library. This method takes an input and checks a logical condition: if the condition is true, it will return its second argument, whereas if the condition is false, it will return its third argument. This is very similar to how Microsoft Excel's <code>IFERROR()</code> method works (helpful to think of it this way for those familiar with Excel). Let's loop through each symbol and label each day as either high and low volatility:</p>

In [ ]:
# Loop through symbols
print("Defining stock symbols")
list_of_symbols = ["D", "EXC", "NEE", "SO", "DUK"]
list_of_df = []

# Loop over all symbols
print(" --- Loop over symbols --- ")
for i in symbol_data_to_load:
    print("Labelling Volatility regime for Symbol: " + i)
    temp_df = agg_df[agg_df["Symbol"] == i].copy()  # make a copy of the dataframe to ensure not affecting agg_df
    volstat_t = volstat_thresholds.loc[i]
    temp_df["VolLevel"] = np.where(temp_df["VolStat"] < volstat_t, "LOW", "HIGH")  # Volatility regime label
    list_of_df.append(temp_df)

print(" --- Completed loop over symbols --- ")

print("Aggregating data")
labeled_df = pd.concat(list_of_df)

In [ ]:
labeled_df.head()

<p>We've now added a <code>VolLevel</code> column that identifies whether each symbol is in a period of high or low volatility on any given day. Since we know that the bank will require higher trading volume in order to transact in periods of high volatility, let's now take a look at the average daily traded volume for high volatility vs. low volatility days.</p>

<h2>Is daily trading volume affected by the level of volatility?</h2>

<p>To explore the relationship between volatility level and daily trading volume, let's group by <code>VolLevel</code> and take a look at the average <code>Volume</code> for the high and low volatility groups:</p>

In [ ]:
labeled_df.groupby(["Symbol", "VolLevel"])[["Volume_Millions"]].mean()

<h3>Exercise 6:</h3>
<p>What is an immediate trend you notice regarding the volatility regimes?</p>

**Answer.**

-------

<h3>Exercise 7:</h3>
<p>Write code to group time periods into low, medium, and high volatility regimes, where:</p>
<p><code>if VolStat &gt; (75th percentile VolStat for given symbol):
    VolLevel = 'HIGH'
elif  VolStat &gt; (25th percentile VolStat for given symbol):
    VolLevel = 'MEDIUM'
else:
    VolLevel = 'LOW'</code></p>
<p>Output a <code>final_df</code> DataFrame output grouped by <code>Symbol</code>, showing the mean <code>Volume</code> for each <code>VolLevel</code> category.</p>

**Answer.**

-----------

<h2>Graphing volatility across time</h2>

<p>We've now satisfactorily answered our original question. However, you don't need to just analyze data in tabular format. Python contains functionality to allow you to analyze your data visually as well.</p>
<p>We will use <code>pandas</code> functionality built on the standard Python plotting library <a href="https://matplotlib.org/">matplotlib</a>. Let's import the library and instruct Jupyter to display the plots inline (i.e. display the plots to the notebook screen so we can see them as we run the code):</p>

In [ ]:
# import fundamental plotting library in Python
import matplotlib.pyplot as plt

# Instruct jupyter to plot in the notebook
%matplotlib inline

<p>Before we plot, we need to convert the <code>Date</code> column in <code>agg_df</code> to a <code>datetime</code>-like object, Python's internal data representation of dates. <code>pandas</code> offers the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html">to_datetime()</a> method to convert a string that represents a given date format into a <code>datetime</code>-like object. We instruct <code>pandas</code> to use <code>format='%Y-%m-%d'</code>, since our dates are in this format, where %Y indicates the numerical year, %m indicates the numerical month and %d indicates the numerical day. If our dates were in another format, we'd modify this input value appropriately.</p>

In [ ]:
# To convert a string to a datetime
agg_df["DateTime"] = pd.to_datetime(agg_df["Date"], format="%Y-%m-%d")

# Set index as DateTime for plotting purposes
agg_df = agg_df.set_index(["DateTime"])
agg_df.head()

<p>Now we are ready to look directly at volatility across time. Let's group by symbols and plot the <code>VolStat</code> value across time. Each symbol's time series will be labelled a different color by default:</p>

In [ ]:
# Look at volatility regimes
fig, ax = plt.subplots(figsize=(15, 6))
agg_df.groupby("Symbol")["VolStat"].plot(
    ax=ax, legend=True, title="Energy Sector Trends - VolStat"
)

<p>We notice that periods of high volatility tend to "clump" together; that is, periods of high volatility are not uniformly and randomly distributed across time, but tend to occur in highly concentrated bursts. This is an interesting insight that we could not gain by only looking at the data in tabular format. In future cases, you will dig deeper into the numerous graphing capabilities of Python and how to integrate them into your data science workflow.</p>

<h3>Exercise 8:</h3>
<p>Write a script to find and print the month that has the highest average daily trading volume for each symbol. Also include the average volume value corresponding to that month. For example, symbol D has its highest average daily trading volume of 6.437 million in December 2018.</p>

**Answer.**

-------

<h3>Exercise 9:</h3>
<p>We have so far looked at volatility grouped by stock symbol or by year and month. As our data covers several years, it's also interesting to group the data by calendar month, ignoring the year component (e.g. averaging together all Januarys). This allows us to see if some points of the year, on average, are more susceptible to volatile trading patterns.</p>
<p>Group the data by month (ignoring the year), and identify :</p>
<ul>
<li>The month with, on average, the highest volatility</li>
<li>The month with, on average, the lowest volatility</li>
<li>Any general patterns that you notice over the whole year</li>
</ul>

**Answer.**

-------

<h3>Exercise 10:</h3>
<p>The final point that we're interested in is looking at the days where:</p>
<ul>
<li>The return is high</li>
<li>Trading volume is low</li>
</ul>
<p>This indicates days where the price moved substantially but without much changing hands.</p>
<p>The thresholds that we are interested in are:
* Low volume: any day with a trading volume in the bottom 25th percentile
* High return: any day where the return is in the opt 75th percentile</p>
<p>Write the code necessary to:
* Calculate and add a "High/Low" variable for Volume Level (low is below 25th percentile)
* Calculate and add a "High/Low" variable for Return (high is above 75th percentile)</p>
<p>Describe what you see in terms of:
* How many rows fall into our "low volume" definition?
* How many rows fall into our "high return" definition?
* How many rows fall into the combination of high return with low volume definition?
* What are the 20 rows with the highest return but with low volume? What do you notice about these trades?</p>
<p>(hint, you can use the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html">sort_values()</a> method in <code>pandas</code> to sort a DataFrame by a specific column.)</p>

**Answer.**

-------

<h2>Conclusions</h2>

<p>Having completed the analysis of the energy sector stock data, we have identified a number of interesting patterns relating volatility to trading volume. Specifically, we found that periods of high volatility also exhibit very high volume. This trend is consistent across all symbols.</p>
<p>We also saw that each stock exhibited "volatility clustering" â€“ periods of high volatility tend to be clumped together. Each of the stocks experienced high volatility at relatively similar times which suggests some broader market factor may be affecting the energy sector.</p>

<h2>Takeaways</h2>

<p>In this case, we've learned the foundations of the <code>pandas</code> library in Python. We now know how to:</p>
<ol>
<li>Read data from CSV files</li>
<li>Aggregate and manipulate data using <code>pandas</code></li>
<li>Analyze summary statistics and gather information from trends across time</li>
<li>Use <code>matplotlib</code> to create plots for visual analysis</li>
</ol>
<p>Going forward, we will be consistently using <code>pandas</code> as a data analysis framework (along with other tools) to build more complex projects and solve critical business problems. It is critical you become as familiar with <code>pandas</code> as possible and it is imperative that you continue researching/investigating new components of this library after the completion of this program. What we have taught here are only the essential basics of <code>pandas</code>; there is still a vast amount of power to the library that you will discover and utilize later on in your development as a data professional.</p>
<p>We highly recommend revisiting this case a few more times and going through it from beginning to end with no aid/answers. You should know the various DataFrame/Series methods we introduced here as well as how to carry out common operations on data, such as finding percentiles, before you consider yourself to have "mastered" this material.</p>